
*{
	margin:0px;
}

body{s
/*	overflow: hidden;*/
/**/
}
header{
	width: 100%;
	height: 10vh;
	background: skyblue;
	display: grid;
	grid-template-columns: 15% 1fr 20%;
	overflow: hidden;
	border-radius: 15px;
}

img{
	width: 40px;
	aspect-ratio: 1/1;
}

#logo{

/*	width: 100%;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#name{
	background: skyblue;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;

}

#login{
	 
	width: 100%;
	height: 10vh;
	display: grid;
	grid-template-rows: 50% 50%;

}

form{
	/*width: 30%;
	height: 50%;*/
	
	display: grid;
	grid-template-columns: 50% 50%;
	place-items: center;
	margin: 0px;
	
}

/*form1{
	display: flex;
	flex-direction: row;
	align-items: center;
	width:100%;
	height: 60%;
}*/

.user_input{
	width:60%;
	

}

.btn_header{
	width: 60%;
	 
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/*margin: 4px;
	padding: 4px;*/

}

.btn_header:hover{
	background-color: gray;

}


.logo_inv{
	margin: 0px;
	width: 100px;
	aspect-ratio: 2/1;
}

h1#Titolo{
	color: black;
	font-size: 30px;
	font-weight: bolder;
	font-family: 'Times New Roman';
	text-justify: center;

}

div#canvas{
	height: 80vh;
	width: 100%;
	display: grid;
	grid-template-columns: 200px  1fr;
	border-radius: 15px;

}


aside{
	background: skyblue;
	height: 78vh;
	display: flex;
	flex-direction: column;
	padding: 4px;
	margin: 4px;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;

}


.btn_aside{
	width: 90%;
	height: 10%;
	background-color: blue;
	border-radius: 15px;
	color: white;
	font-weight: bolder;

}

.btn_aside:hover{

	background-color: lightblue;
	color: black;
	font-weight: bolder;
	
}

button{
	color: black;
	width: 90%;

}
content{
	background: url(img/SfondoPlatform.PNG);
	background-repeat: no-repeat;
	background-size: 1200px 570px;
	background-position: center;
	border-radius: 15px;

}

.pwbpanel{
	width: 100%;
	height: 100%;

}

footer{
	width: 100%;
	height: 9vh;
	background: skyblue;
	display: grid;
	grid-template-columns: 15% 1fr 20%;
	overflow: hidden;
	border-radius: 15px;
}
#footer-sx{
	 
	 
	display: grid;
	height: 9vh;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	padding: 2px;
	place-items: center;
}

#footer-dx{
	height: 9vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

#Studente{
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;

	 
}

h1#TitoloStudente{
	color: black;
	font-size: 30px;
	font-weight: bolder;
	font-family: 'Times New Roman';
	text-align: center;
	

}
.img_loghi{
	width: 70px;
	height: 85%;
	aspect-ratio: 3/1;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.img_log{
	margin: 4px;
	width: 80px;
	height: 60%;
	aspect-ratio: 2/1;
	
}


#logo_madrid{
	margin: 4px;
	height: 70%;
	 
	aspect-ratio: 3/4;
	
}
 


#geoportal{
	margin: 0px;
	height: 90%;
	width: 100%;
	aspect-ratio: 5/1;
	
}


.pannello{
	display: none;
	width: 100%;
	height: 100%;
}


	#container1{
	display: none;
	}

	#container2{
	display: none;
	}

	#container3{
	display: none;
	}

	#container4{
	display: none;
	}

	#container5{
	display: none;
	}

