
body{
	overflow: hidden;

}
header{
	width: 100%;
	height: 10vh;
	background: #9F9F9F;
	display: grid;
	grid-template-columns: 15% 1fr 20%;
	overflow: hidden;
	border-radius: 15px;
}

img{
	width: 40px;
	aspect-ratio: 1/1;
}

#logo{
	background: skyblue;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#name{
	background: skyblue;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

#login{
	background: skyblue;
	width: 100%;
	display: grid;
	place-items: center;

}

form{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;

}

.btn_header{
	width: 40%;
	height: 10%;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 4px;
	padding: 4px;

}

.btn_header:hover{
	background-color: gray;

}


.logo_inv{
	margin: 0px;
	width: 100px;
	aspect-ratio: 2/1;
}

h1#Titolo{
	color: black;
	font-size: 30px;
	font-weight: bolder;
	font-family: 'Times New Roman';
	text-justify: center;

}

div#canvas{
	height: 80vh;
	display: grid;
	grid-template-columns: 150px  1fr;
	border-radius: 15px;

}


aside{
	background: skyblue;
	height: 78vh;
	display: flex;
	flex-direction: column;
	padding: 4px;
	margin: 4px;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;

}


.btn_aside{
	width: 90%;
	height: 10%;
	background-color: blue;
	border-radius: 15px;

}

.btn_aside:hover{

	background-color: yellow;
	
}

button{
	color: black;
	width: 90%;

}
content{
	background: url(img/SfondoPlatform.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;

}
.pwbpanel{
	width: 100%;
	height: 100%;

}

footer{
	width: 100%;
	height: 9vh;
	background: #9F9F9F;
	display: grid;
	grid-template-columns: 15% 1fr 25%;
	overflow: hidden;
	border-radius: 15px;
}
#footer-sx{
	background: skyblue;
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	padding: 6px;
}

#footer-dx{
	background: skyblue;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

#Studente{
	background: skyblue;
	width: 100%;
}

h1#TitoloStudente{
	color: black;
	font-size: 30px;
	font-weight: bolder;
	font-family: 'Times New Roman';
	text-align: center;

}
.img_loghi{
	margin: 5px;
	width: 80px;
	height: 70%;
	aspect-ratio: 3/1;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.img_log{
	margin: 0px;
	width: 80px;
	height: 100%;
	aspect-ratio: 2/1;
	
}

#geoportal{
	margin: 0px;
	height: auto;
	aspect-ratio: 6/1;
	
}

#dashboard1{
	display: none;
}


